.noflash {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  z-index: -900;
  border: 1px solid #b4b4b4;
  border-radius: 4px;
  min-width: 40px;
  min-height: 40px;
  background-color: #e9e9e9;
}

.noflash:hover {
  background-color: #f0f0f0;
}

.noflash span {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda,sans-serif;
  color: #969696;
  font-size: 26px;
  border-radius: 5px;
  font-weight: bold;
  padding: 0 5px;
}

.fr {
  float: right;
}
